<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartBin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3235A83A1B91B20B0098D8DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3235A8561B91B20B0098D8DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3235A8611B91B20B0098D8DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
